<html>
    <head>
        <title>My scratchboard page</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <style>
            a{
                color:#8BF5FA !important;
            }
            .row{
                padding:10px;
                margin-bottom: 1ex
            }
            .byline{
                color:#D9ACF5;
            }
            .comment{
                color:#1C315E;
            }
        </style>
    </head>

    <body>

        <nav class="navbar bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">My scratchpad</a>
            </div>
              <ul class="navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log in</a></li>
                    {% endif %}
                </ul>
        </div>
        </nav>


        <div class="container">
            <div class="row">
                <div>
                    {% for comment in comments %}
                        <div class="row comment">
                            {{ comment.content }}
                        </div>
                        <div class="byline">
                            <small>
                                <b><i>Posted</i>
                                {% if comment.posted %}
                                    {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }}
                                {% else %}
                                    at unknown time
                                {% endif %}
                                by
                                {% if comment.commenter %}
                                    <i>{{ comment.commenter.username }}</i>
                                {% else %}
                                    <i>anonymous</i>
                                {% endif %}
                                </b>
                            </small><br>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if current_user.is_authenticated %}
            <div class="row">
                <form action="." method="POST">
                    <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
                    <input type="submit" class="btn btn-success" value="Post comment">
                </form>
            </div>
            {% endif %}
        </div>

    </body>
</html>